.daysComponent {
    width: 100%;
    border-radius: 1rem;
    transition: all .3s ease-in;
    cursor: pointer;
}

.daysComponent:hover {
    box-shadow: var(--box-shadow);
}

.daysComponent_box_img_img {
    display: block;
    margin: .4rem auto;
    width: 100%;
    height: 40vh;
    border-radius: 1rem;

}

.daysComponent_box_profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}


/* Still needs work for more responsiveness, will check later */

.daysComponent_box_img_1,
.daysComponent_box_img_2,
.daysComponent_box_img_3 {
    object-fit: fill;
    width: 100%;
    height: 20vh;
}

.daysComponent_box_img_1 {
    border-bottom-left-radius: 1rem;
}

.daysComponent_box_img_3 {
    border-bottom-right-radius: 1rem;
}

.daysComponent_box_title_info_profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.daysComponent_box_title {
    padding: 1rem 2rem;
    line-height: 0;
}

.daysComponent_box_title h2 {
    font-size: 1.2rem;
}

.daysComponent_box_title_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daysComponent_box_title_info_profile_img {
    border-radius: 50%;
}

.daysComponent_box_title_info_profile span {
    font-weight: 400;
    font-size: .8rem;
    padding-inline: .5rem;
}

.daysComponent_box_title_info_price small {
    overflow: hidden;
    font-weight: 600;
    border: 3px solid var(--icons-color);
    padding: .5rem;
    border-radius: .5rem;
    text-overflow: ellipsis;
}

@media screen
/* and (min-device-width: 320px) */
and (max-device-width: 768px) {
    .daysComponent_box_profile {
        grid-template-columns: repeat(3, 1fr);
    }

    .daysComponent_box_title_info {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        padding: 1rem;
    }

    .daysComponent_box_title {
        padding: 1rem;
    }
}

@media screen and (min-device-width: 770px) and (max-device-width: 960px) {

    .daysComponent_box_img_1,
    .daysComponent_box_img_2,
    .daysComponent_box_img_3 {
        height: 15vh;
    }

    .daysComponent_box_img_img {
        height: 30vh;
    }
}